@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .nav-link {
    @apply text-gray-600 dark:text-gray-300 hover:text-pink-900 dark:hover:text-pink-500 transition-colors duration-300;
  }

  .social-icon {
    @apply text-gray-600 dark:text-blue-300 hover:text-pink-900 dark:hover:text-pink-500 transform hover:scale-110 transition-all duration-300;
  }
}

.bg-grid-pattern {
  background-image: radial-gradient(square at 1px 1px, currentColor 1px, transparent 1px);
  background-size: 40px 40px;
}